<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MedVantage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        @keyframes move-circle {

            0%,
            49% {
                transform: translateX(350px);
            }

            50% {
                transform: translateX(360px);
            }

            80% {
                transform: translateX(375px);
            }

            90% {
                transform: translateX(385px);
            }

            100% {
                transform: translateX(350px);
            }
        }

        .animate-move {
            animation: move-circle 10s infinite;
        }
    </style>
</head>

<body>



    <div class="navbar flex">
        <div class="logo">
            <h1 class="text-2xl font-bold  ml-10">MedVantage</h1>
        </div>
        <div class="items">

            <ul class="flex gap-5 mr-5">
                <li><a href="">Home</a></li>
                <li><a href=""> About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="./login">Login</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Blog</a></li>

            </ul>

        </div>
    </div>






    <div class="card lg:card-side bg-base-100  border-none">

        <div class="card-body">
            <h2 class="card-title text-8xl w-3/4  ml-10">Overcome Your Challenges With Proper Care</h2>
            <div class="card-actions justify-left">
                <button class="btn btn-primary mt-4 z-10  ml-10">Make Appointment</button>
            </div>

            <img class="-ml-52 -mt-20 h-2/5 w-2/5" src="{% static 'images/round.png' %}" alt="">

        </div>

        <figure class=" h-3/4 w-3/4 mr-5">
            <img src="{% static 'images/home.png' %}" alt="Album" />
        </figure>
    </div>





    <div class="featuretwo">
        <h2 class="text-5xl font-bold text-center">Available Healthcare Services</h2><br>
        <p class="text-center text-slate-400">Find the best support for your mental wellbeing</p>

    </div>
    <br>


    <div class="cardone flex flex-3 gap-10 mx-32">
        <div class="cone">
            <div class="card card-compact bg-base-100 w-96 shadow-xl">
                <figure>
                    <img class="h-32 mt-2" src="{% static 'images/depression.png' %}" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Depression Therapy</h2>
                    <p>If your depression causes sadness and absence of involvement with your daily life, then this
                        therapy is designed for you.</p>

                </div>
            </div>
        </div>



        <div class="ctwo">
            <div class="card card-compact bg-base-100 w-96 shadow-xl">
                <figure>
                    <img class="h-32 mt-2" src="{% static 'images/focus.png' %}" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Online Therapy</h2>
                    <p>If you face any difficulties in attending direct sessions, you can easily go for online theory
                        from anywhere in the world.</p>

                </div>
            </div>
        </div>

        <div class="cthree">
            <div class="card card-compact bg-base-100 w-96 shadow-xl">
                <figure>
                    <img class="h-32 mt-2" src="{% static 'images/couple.png' %}" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Couples Therapy</h2>
                    <p>Breakups, marriage problems, or any type of problem you are facing with your partner can be
                        handled with your cooperation.</p>
                </div>
            </div>
        </div>
    </div>
    <br>


    <div class="cardtwo flex flex-3 gap-10 mx-32">
        <div class="cone">
            <div class="card card-compact bg-base-100 w-96 shadow-xl">
                <figure>
                    <img class="h-32 mt-2" src="{% static 'images/child.png' %}" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Children Therapy</h2>
                    <p>If you feel your kids need help with life challenges, they’re welcome to attend this therapy
                        session & overcome obstacles.</p>

                </div>
            </div>
        </div>



        <div class="ctwo">
            <div class="card card-compact bg-base-100 w-96 shadow-xl">
                <figure>
                    <img class="h-32 mt-2" src="{% static 'images/anti stress.png' %}" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Anti-Stress Therapy</h2>
                    <p>If extra stress is interfering with your daily life activities, then therapy sessions will help
                        you handle these situations.</p>

                </div>
            </div>
        </div>

        <div class="cthree">
            <div class="card card-compact bg-base-100 w-96 shadow-xl">
                <figure>
                    <img class="h-32 mt-2" src="{% static 'images/post divorce.png' %}" alt="Shoes" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Post-Divorce Therapy</h2>
                    <p>Ups & downs are part of everyone's life. If you need help in dealing with post-divorce tantrum,
                        join this therapy session.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <img class="-ml-20 -mt-40 h-60 w-60" src="{% static 'images/round.png' %}" alt="">



    <div class="design flex justify-center items-center">
        <span class="loading loading-ring loading-xs"></span>
        <span class="loading loading-ring loading-sm"></span>
        <span class="loading loading-ring loading-md"></span>
        <span class="loading loading-ring loading-lg"></span>
        <span class="loading loading-ring loading-lg"></span>
        <span class="loading loading-ring loading-md"></span><span class="loading loading-ring loading-sm"></span>
        <span class="loading loading-ring loading-xs"></span>
    </div>
    <br><br><br>
    <div class="div  flex justify-end -mt-10"><img class="h-60 w-60" src="{% static 'images/round.png' %}"
            alt=""></div>



    <div class="thirdphase bg-sky-50 grid grid-flow-col gap-32  -mt-32">
        <div class="partone mt-5"><img src="{% static 'images/second.png' %}" alt=""></div>
        <div class="parttwo mt-16">
            <h1 class=" text-7xl">Heal Yourself With Supportive Care And Treatment</h1>
            <br>
            <p class=" text-1xl text-justify mr-10">
                MedVantage offers supportive care and treatment for both children and adults. From helping children
                with their mental development from an early stage, to providing therapy and consultation to adults
                suffering from stress, PTSD, or any other mental illness, our therapists and psychiatrists are
                determined to help everyone recover from their problems and trauma. We believe that acknowledging your
                need for mental healthcare is the first step to a happy life. Book an appointment with us and begin your
                journey of recovery and self-care.</p>

            <div class="count flex flex-3 gap-5">
                <div class="countone mt-3">
                    <h3 class=" text-blue-500 text-6xl">29</h3>
                    <h3 class=" font-bold mt-2">Psychologists</h3>
                </div>
                <div class="counttwo mt-3">
                    <h3 class=" text-blue-500 text-6xl">2,500</h3>
                    <h3 class=" font-bold mt-2">Total Patients</h3>
                </div>
                <div class="countthree mt-3">
                    <h3 class=" text-blue-500 text-6xl">15</h3>
                    <h3 class=" font-bold mt-2">Medical Branches</h3>
                </div>
            </div>

        </div>
    </div>



    <div class="fourth flex mx-48 mt-24">
        <div class="partone">
            <h2 class=" text-4xl font-bold font-serif">Dr. Adam Chapanneli</h2>
            <h2 class=" text-blue-600 text-xl">Psychotherapist, Medinova Hospital in California</h2>
            <p class=" text-justify text-slate-500 w-4/5 mt-2">Hi there! I’m a psychotherapist in designation and
                working in this field for more than 7 years. Before joining here I’ve worked on two mental health care
                center’s. I can help you by putting other perspectives on your problems. If you need assistance, make an
                appointment right away.</p>
            <button class="btn btn-info text-white mt-3">Make Appointment</button>
        </div>
        <div class="flex items-center justify-center">
            <div class="parttwo w-96 h-96 bg-blue-500 rounded-full animate-move"></div>
            <div class="z-10 h-96 w-80"><img class="h-96 w-72" src="{% static '/images/doctr.png' %}"
                    alt=""></div>

        </div>
    </div>



    <div class="flexible bg-slate-100"><br>
        <h2 class=" mt-14 flex text-4xl items-center justify-center font-bold">Flexible Pricing For Every Session</h2>
        <h2 class="mt-2 flex justify-center items-center">Choose the right session packages for your well-being</h2>
        <div class="flexiblecard flex flex-3 mt-5 gap-10 mx-32">
            <div class="cardone">
                <div class="card bg-base-100 w-96 shadow-2xl hover:shadow-2xl shadow-cyan-200">
                    <div class="card-body">
                        <h2 class="card-title font-bold font-sans mt-3 text-3xl">Individual</h2>
                        <h2 class=" text-5xl font-bold mt-4">৳ 1500</h2>
                        <p class=" text-slate-400"><i>Per Person Per hour</i></p>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Pay per Session</h2>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Expandable up to two hour</h2>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Online session available</h2>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Heal pains from the past</h2>
                        <hr>
                        <div class="card-actions justify-center mt-2">
                            <button class="btn btn-info text-white">Get Started Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cardtwo">
                <div class="card bg-base-100 w-96 shadow-2xl hover:shadow-2xl shadow-cyan-200">
                    <div class="card-body">
                        <h2 class="card-title font-bold font-sans mt-3 text-3xl">Couple</h2>
                        <h2 class=" text-5xl font-bold mt-4">৳ 2500</h2>
                        <p class=" text-slate-400"><i>Per Person Per hour</i></p>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Pay per Session</h2>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Expandable up to two hour</h2>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Online session available</h2>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Heal pains from the past</h2>
                        <hr>
                        <div class="card-actions justify-center mt-2">
                            <button class="btn btn-primary text-white">Get Started Now</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="cardthree">
                <div class="card bg-base-100 w-96 shadow-2xl hover:shadow-2xl shadow-cyan-200 ">
                    <div class="card-body">
                        <h2 class="card-title font-bold font-sans mt-3 text-3xl">Unlimited</h2>
                        <h2 class=" text-5xl font-bold mt-4">৳ 3500</h2>
                        <p class=" text-slate-400"><i>Per Person Per hour</i></p>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Pay per Session</h2>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Expandable up to two hour</h2>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Online session available</h2>
                        <hr>
                        <h2 class="flex"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Heal pains from the past</h2>
                        <hr>
                        <div class="card-actions justify-center mt-2">
                            <button class="btn btn-error text-white">Get Started Now</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <br><br><br>
    </div>






    <div class="phase-five">

        <h2 class=" text-4xl flex items-center justify-center font-bold mt-20">Words From Happy Clients</h2>
        <h2 class="mt-3 flex items-center justify-center text-slate-400">Hear from hundreds of patients who have
            received support and care</h2>

    </div>

    <div class="review flex flex-auto gap-5 mx-10 mt-5">
        <div class="card bg-base-100 w-96 shadow-xl">
            <div class="card-body">
                <div class="avatar">
                    <div class="w-24 rounded-full">
                        <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                    </div>
                </div>
                <h2 class="card-title">Adem Smith</h2>
                <h2>Project Manager</h2>
                <div class="rating">
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400"
                        checked="checked" />
                </div>
                <p><i> "I had problems in my daily life. These sessions have given me new hope to deal with my problems.
                        Highly recommended for all"</i></p>

            </div>
        </div>



        <div class="card bg-base-100 w-96 shadow-xl">
            <div class="card-body">
                <div class="avatar">
                    <div class="w-24 rounded-full">
                        <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                    </div>
                </div>
                <h2 class="card-title">Adem Smith</h2>
                <h2>Project Manager</h2>
                <div class="rating">
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400"
                        checked="checked" />
                </div>
                <p><i> "I had problems in my daily life. These sessions have given me new hope to deal with my problems.
                        Highly recommended for all"</i></p>

            </div>
        </div>



        <div class="card bg-base-100 w-96 shadow-xl">
            <div class="card-body">
                <div class="avatar">
                    <div class="w-24 rounded-full">
                        <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                    </div>
                </div>
                <h2 class="card-title">Adem Smith</h2>
                <h2>Project Manager</h2>
                <div class="rating">
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400"
                        checked="checked" />
                </div>
                <p><i> "I had problems in my daily life. These sessions have given me new hope to deal with my problems.
                        Highly recommended for all"</i></p>

            </div>
        </div>




        <div class="card bg-base-100 w-96 shadow-xl">
            <div class="card-body">
                <div class="avatar">
                    <div class="w-24 rounded-full">
                        <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
                    </div>
                </div>
                <h2 class="card-title">Adem Smith</h2>
                <h2>Project Manager</h2>
                <div class="rating">
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400" />
                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-orange-400"
                        checked="checked" />
                </div>
                <p><i> "I had problems in my daily life. These sessions have given me new hope to deal with my problems.
                        Highly recommended for all"</i></p>

            </div>
        </div>
    </div>
    <img class="-ml-36 -mt-20 h-60 w-60" src="{% static 'images/round.png' %}" alt="">

    <div class="flex items-center justify-center -mt-10">
        <span class="loading loading-ring loading-lg"></span>
        <span class="loading loading-ring loading-md"></span>
        <span class="loading loading-ring loading-sm"></span>

        <span class="loading loading-ring loading-xs"></span>
        <span class="loading loading-ring loading-xs"></span>
        <span class="loading loading-ring loading-xs"></span>
        <span class="loading loading-ring loading-sm"></span>
        <span class="loading loading-ring loading-md"></span>
        <span class="loading loading-ring loading-lg"></span>
    </div>
    <br><br><br>


    <div class="containerlast">
        <div class="card bg-blue-500 h-64 w-4/5 shadow-2xl mx-40">
            <div class="card-body">
                <h2 class="card-title text-white text-3xl mt-10">Change Your Life</h2>
                <div class="flex space-x-48">
                    <div>
                        <h2 class=" text-5xl text-white ">Find Your Inner Peace & Happiness</h2>
                    </div>

                    <div class="card-actions justify-end">
                        <button class="btn btn-active shadow-2xl bg-white h-14">Book Consultation</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="flex items-end justify-end -mt-72">
        <img class="-ml-14 -mt-20 h-60 w-60" src="{% static 'images/round.png' %}" alt="">

    </div>
    <img class="  h-60 w-60" src="{% static 'images/round.png' %}" alt="">



    <footer class="footer bg-sky-200 text-base-content p-10 -mt-36 h-96">
        <nav class="mt-36">
            <h6 class="footer-title">Contact</h6>
            <h2>2/45 Tower Street, New York, USA</h2>

            <h2>Phone: (+880)1717210307</h2>

            <a href="mailto:contact@medvantage.com">contact@medvantage.com</a>
            <a class="link link-hover">www.medvantage.com</a>
        </nav>
        <nav class="mt-36">
            <h6 class="footer-title">Help Center</h6>
            <a class="link link-hover">FAQS</a>
            <a class="link link-hover">Term and Conditions</a>
            <a class="link link-hover">Privacy</a>

        </nav>
        <nav class="mt-36">
            <h6 class="footer-title">Quick Links</h6>
            <a class="link link-hover">About</a>
            <a class="link link-hover">Contact</a>
            <a class="link link-hover">Appointments</a>
            <a class="link link-hover">Blog</a>
        </nav>
        <form class="mt-36">
            <h6 class="footer-title">Newsletter</h6>
            <h2>Subscrive and get discount</h2>
            <fieldset class="form-control w-80 bg-sky-200 border-none">
                <label class="label -ml-4">
                    <span class="label-text">Enter your email address</span>
                </label>
                <div class="join -ml-4">
                    <input type="text" placeholder="username@site.com" class="input input-bordered join-item" />
                    <button class="btn btn-primary join-item">Subscribe</button>
                </div>
            </fieldset>
        </form>


    </footer>

    <footer class="footer footer-center bg-black text-base-content p-4">
        <aside>
            <p class="text-white">Copyright © 2024- All right reserved by <a
                    href="https://www.facebook.com/mraihancs">MedVantage</a></p>
        </aside>
    </footer>

</body>

</html>